
/* CUERPO */

body{
    background-color: rgb(51, 51, 244);
    font-family:'Times New Roman';
    font-size: 16px;
    color: aliceblue;
    margin: 0px;
}

header{
    display: flex;
    height: 85px;
    background-color: black;
    justify-content: space-around;
    align-items: center;
    padding: 10px;
}

/*NAVBAR*/

@media(min-width:480px){

nav a{
    font-weight: 500px;
    padding-right: 10px;
    cursor: pointer;
    display: flex;
    justify-content: space-between;
}

nav a:hover{
    color: rgb(20, 96, 163);
}

a{
    text-decoration: none;
    color: aliceblue;
}

.logo {
    display:flex;
    align-items: center;
}

.logo img{
    height: 80px;
    margin-right: 10px;
    margin-left: 5px;
}

}


/* ARTICULOS */


.container {
    display: flex;
    flex-direction: column;
    margin-top: 40px;
    justify-content: space-between;
    align-items: center;
}

.articulos {
    flex-wrap: wrap;
    display: flex;
    flex-direction: row;
    margin-top: 20px;
}

.articulo {
    color: rgb(0, 0, 0);
    text-align: center;
    margin: 20px;
    width: 200px;
    height: 200px;
    background-color: bisque;
    border-radius: 20px;
    box-shadow: 6px 11px 5px -3px black; 
}

.art-img {
    width: 100px;
}

.btn-art {
    margin-top: 20px;
    background-color: rgb(180, 161, 139);
    border-radius: 5px;
    width: 100px;
    height: 40px;
    font-weight: 600;
    cursor: pointer;
}

/* DESCRIPCION */

.coment {
    color: aliceblue;
    display: flex;
    margin-top: 60px;
    height: 350px;
    background-color: black;
}

.coment img {
    width: 18%;
    height: 80%;
    margin-top: 3%;
}

.coment p {
    margin-top: 10%;
    width: 60%;
}

footer h3 {
    margin: 10px 0px 12px 0px;
    text-align: center;
    font-weight: 400;
}

/* style contact */

.formulario {
    margin: 80px 0px 40px 0px;
    height: 200px;
    display: flex;
    justify-content: center;
}

form {
    color: black;
    width: 400px;
    height: 200px;
    border-radius: 10px;
    background-color: aliceblue;
    display: flex;
    justify-content: space-around;
    flex-direction: column;
    padding: 20px;
}

form .text-area {
    width: 400px;
    height: 100px;
}

form .btn-submit {
    width: 50%;
    height: 30px;
    border-radius: 10px;
    background-color: rgb(51, 51, 244);
}